@import url("reset.css");


/***
	grid layout setting
						***/
div.container{
	display: grid;
	grid-template:
		"header" 50px
		"main" 50px
		"side" 50px
		"footer" 50px
		/ 100%
	;
}

div.item-1{
	background:hsl(300, 80%, 50%);
	grid-area: header;
}
div.item-2{
	background:hsl(300, 80%, 40%);
	grid-area: main;

}
div.item-3{
	background:hsl(300, 80%, 30%);
	grid-area: side;

}
div.item-4{
	background:hsl(200, 80%, 50%);
	grid-area: footer;
}

/*smart phone*/
@media (min-width: 570px){
	div.container{
		display: grid;
		grid-template:
			"header header" 50px
			"side main" 50px
			"footer footer" 50px
			/ 200px 1fr 
		;/*sidebarは200px残った要素は可変にする設定（1fr 200px）*/
}
