@import url("reset.css");

div.container{
	display: grid;
	grid-template-rows:80px 80px;
	grid-template-columns:80px 80px 80px;
	/*grid-template-columns:50% 1fr 2fr;*//*fr -- 比率 1:2*/
	/*grid-gap:10px;*/
	/*grid-template:repeat(3,80px)/repeat(auto-fill,300px);*/
}

div.item-1{
	background:hsl(300, 80%, 50%);
	grid-row: 2;
	grid-column: 2/3;
}
div.item-2{
	background:hsl(300, 80%, 40%);
}
div.item-3{
	background:hsl(300, 80%, 30%);
}
div.item-4{
	background:hsl(200, 80%, 50%);
}
div.item-5{
	background:hsl(100, 80%, 50%);
}
div.item-6{
	background:hsl(50, 80%, 50%);
}